@media (max-width: 767.98px) 
{ .border-sm-start-none 
  { border-left: none !important; } }

  .star-active{
    color: yellow;
    font-size: 20px;
    cursor: pointer;
  }
  .star{
    color: dimgray;
    cursor: pointer;
    font-size: 20px;
  }
.link{
  text-decoration: none;
}
.link:hover{
  color: white;
}
.linkBtn:hover{
  background-color: black;
  color: white;
}
